<div class="home">
    <h1>動物一覧</h1>
    <a href="/inu">
        <div>
            いぬ
        </div>
    </a>
    <a href="/neko">
        <div>
            ねこ
        </div>
    </a>
    <a href="/inko">
        <div>
            いんこ
        </div>
    </a>
    <a href="/hamusuta">
        <div>
            ハムスター
        </div>
    </a>
    <a href="/hebi">
        <div>
            へび
        </div>
    </a>
</div>