<div>
    <span>ログインID:</span>
    <input type="text" id="name" name="name" value="<%= locals.name ? name : ""%>"/>
</div>
<div>
    <span>パスワード</span>
    <input type="password" id="pass" name="pass" value="<%= locals.pass ? pass : ""%>" readonly/>
</div>
<div>
    <input type="button" id="btn-login" value="ログイン">
    <input type="button" id="btn-cancel" value="キャンセル">
</div>